name: CI Build

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ master ]
    types: [ opened, reopened, labeled, synchronize ]

jobs:
  check-formatting:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    name: Check formatting

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: coursier/setup-action@v1.3.9
        with:
          apps: scalafmt
      - name: Check code and docs formatting
        run: scalafmt --check

  check-snippets:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    name: Check Scala CLI snippets from documentation

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v3
      - uses: coursier/setup-action@v1.3.9
        with:
          apps: scala-cli sbt
      - name: Run snippets from documentation
        working-directory: docs
        run: |
          scala-cli config power true
          just test-snippets

  build:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.action != 'labeled' # run for 'opened', 'reopened' and 'synchronize'

    strategy:
      matrix:
        scala: ['2_13', '3']
        platform: ['jvm', 'js', 'native']
        jvm: ['temurin:1.11.0.28', 'temurin:1.17.0.15', 'temurin:1.24.0.2', 'temurin:1.25.0.0']
        test-lastest-scala: ['false', 'true']
        # Apparently 2.13.16 does not work with JDK 25+ at all
        #   see: https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html
        # so for tests on higher JDK, we will use JDK24 as the lastest supported
        # Scala 3.8+ requires JDK 17 as the minimum version
        exclude:
          - scala: '2_13'
            jvm: 'temurin:1.25.0.0' # 2.13.16 does not work with JDK 25+
          - scala: '2_13'
            jvm: 'temurin:1.17.0.15' # No need to test 2.13 on JDK 17 separately
          - scala: '3'
            jvm: 'temurin:1.24.0.2' # Scala 3 we use does not need a workaround
          - scala: '3'
            test-lastest-scala: 'true'
            jvm: 'temurin:1.11.0.28' # Scala 3.8+ requires JDK 17+
          - scala: '3'
            test-lastest-scala: 'false'
            jvm: 'temurin:1.17.0.15' # JDK 17 only needed for newest Scala 3
      fail-fast: false

    name: "Scala: ${{ matrix.scala == '2_13' && '2.13' || '3' }} / Platform: ${{ matrix.platform }} / JVM: ${{ matrix.jvm }} / Test: ${{ matrix.test-lastest-scala == 'true' && 'Latest' || 'Oldest Supported' }}"

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v7
      - uses: coursier/setup-action@v1.3.9
        with:
          jvm: ${{ matrix.jvm }}
          apps: sbt
      - name: "Clean, compile, test${{matrix.platform == 'jvm' && ', generate coverage report, check MiMa' || ''}}"
        run: sbt ci-${{ matrix.platform }}-${{ matrix.scala }}
        env:
          NEWEST_SCALA_TESTS: ${{ matrix.test-lastest-scala }}
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
